@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
.profile-image {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  padding: 10px;
}
.profile-card {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 120px;
  border: 1px solid black;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px;
}
.user-heading {
  font-family: "Roboto";
  font-size: 25px;
  font-weight: 500;
}
.user-info {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 300;
}
.user-details-info {
  padding-left: 20px;
}
.cross-image {
  width: 35px;
  height: 35px;
}
